<h1>Hello World!!!!</h1>


<p>sdfsfsdfdsf</p>
<div>
    <% for(var i = 0; i < books.length; i++) { %>
    <span><%= books[i].id %></span>&nbsp;
    <span>
      <%= books[i].title %>
    </span>&nbsp;
    <span>
      <%= books[i].author %>
      <% console.log(books[i].author); %>
    </span>&nbsp;
    <span>
      <%= books[i].created_at %>
    </span>&nbsp;
    <span>
      <%= books[i].updated_at %>
    </span><br />
    <% } %>
  </div>
  <%= xxx.id %>